@mixin content-normal   { align-content: normal; }        .content-normal { @include content-normal; }
@mixin content-center   { align-content: center; }        .content-center { @include content-center; }
@mixin content-start    { align-content: flex-start; }    .content-start { @include content-start; }
@mixin content-end      { align-content: flex-end; }      .content-end { @include content-end; }
@mixin content-between  { align-content: space-between; } .content-between { @include content-between; }
@mixin content-around   { align-content: space-around; }  .content-around { @include content-around; }
@mixin content-evenly   { align-content: space-evenly; }  .content-evenly { @include content-evenly; }
@mixin content-baseline { align-content: baseline; }      .content-baseline { @include content-baseline; }
@mixin content-stretch  { align-content: stretch; }       .content-stretch { @include content-stretch; }
@mixin items-start      { align-items: flex-start; }      .items-start { @include items-start; }
@mixin items-end        { align-items: flex-end; }        .items-end { @include items-end; }
@mixin items-center     { align-items: center; }          .items-center { @include items-center; }
@mixin items-baseline   { align-items: baseline; }        .items-baseline { @include items-baseline; }
@mixin items-stretch    { align-items: stretch; }         .items-stretch { @include items-stretch; }
@mixin self-auto        { align-self: auto; }             .self-auto { @include self-auto; }
@mixin self-start       { align-self: flex-start; }       .self-start { @include self-start; }
@mixin self-end         { align-self: flex-end; }         .self-end { @include self-end; }
@mixin self-center      { align-self: center; }           .self-center { @include self-center; }
@mixin self-stretch     { align-self: stretch; }          .self-stretch { @include self-stretch; }
@mixin self-baseline    { align-self: baseline; }         .self-baseline { @include self-baseline; }