@mixin break-after-auto          { break-after: auto; }          .break-after-auto { @include break-after-auto; }
@mixin break-after-avoid         { break-after: avoid; }         .break-after-avoid { @include break-after-avoid; }
@mixin break-after-all           { break-after: all; }           .break-after-all { @include break-after-all; }
@mixin break-after-avoid-page    { break-after: avoid-page; }    .break-after-avoid-page { @include break-after-avoid-page; }
@mixin break-after-page          { break-after: page; }          .break-after-page { @include break-after-page; }
@mixin break-after-left          { break-after: left; }          .break-after-left { @include break-after-left; }
@mixin break-after-right         { break-after: right; }         .break-after-right { @include break-after-right; }
@mixin break-after-column        { break-after: column; }        .break-after-column { @include break-after-column; }
@mixin break-before-auto         { break-before: auto; }         .break-before-auto { @include break-before-auto; }
@mixin break-before-avoid        { break-before: avoid; }        .break-before-avoid { @include break-before-avoid; }
@mixin break-before-all          { break-before: all; }          .break-before-all { @include break-before-all; }
@mixin break-before-avoid-page   { break-before: avoid-page; }   .break-before-avoid-page { @include break-before-avoid-page; }
@mixin break-before-page         { break-before: page; }         .break-before-page { @include break-before-page; }
@mixin break-before-left         { break-before: left; }         .break-before-left { @include break-before-left; }
@mixin break-before-right        { break-before: right; }        .break-before-right { @include break-before-right; }
@mixin break-before-column       { break-before: column; }       .break-before-column { @include break-before-column; }
@mixin break-inside-auto         { break-inside: auto; }         .break-inside-auto { @include break-inside-auto; }
@mixin break-inside-avoid        { break-inside: avoid; }        .break-inside-avoid { @include break-inside-avoid; }
@mixin break-inside-avoid-page   { break-inside: avoid-page; }   .break-inside-avoid-page { @include break-inside-avoid-page; }
@mixin break-inside-avoid-column { break-inside: avoid-column; } .break-inside-avoid-column { @include break-inside-avoid-column; }