@mixin block              { display: block; }              .block { @include block; }
@mixin inline-block       { display: inline-block; }       .inline-block { @include inline-block; }
@mixin inline             { display: inline; }             .inline { @include inline; }
@mixin flex               { display: flex; }               .flex { @include flex; }
@mixin inline-flex        { display: inline-flex; }        .inline-flex { @include inline-flex; }
@mixin table              { display: table; }              .table { @include table; }
@mixin inline-table       { display: inline-table; }       .inline-table { @include inline-table; }
@mixin table-caption      { display: table-caption; }      .table-caption { @include table-caption; }
@mixin table-cell         { display: table-cell; }         .table-cell { @include table-cell; }
@mixin table-column       { display: table-column; }       .table-column { @include table-column; }
@mixin table-column-group { display: table-column-group; } .table-column-group { @include table-column-group; }
@mixin table-footer-group { display: table-footer-group; } .table-footer-group { @include table-footer-group; }
@mixin table-header-group { display: table-header-group; } .table-header-group { @include table-header-group; }
@mixin table-row-group    { display: table-row-group; }    .table-row-group { @include table-row-group; }
@mixin table-row          { display: table-row; }          .table-row { @include table-row; }
@mixin flow-root          { display: flow-root; }          .flow-root { @include flow-root; }
@mixin grid               { display: grid; }               .grid { @include grid; }
@mixin inline-grid        { display: inline-grid; }        .inline-grid { @include inline-grid; }
@mixin contents           { display: contents; }           .contents { @include contents; }
@mixin list-item          { display: list-item; }          .list-item { @include list-item; }
@mixin hidden             { display: none; }               .hidden { @include hidden; }