@mixin font-thin       { font-weight: 100; } .font-thin { @include font-thin; }
@mixin font-extralight { font-weight: 200; } .font-extralight { @include font-extralight; }
@mixin font-light      { font-weight: 300; } .font-light { @include font-light; }
@mixin font-normal     { font-weight: 400; } .font-normal { @include font-normal; }
@mixin font-medium     { font-weight: 500; } .font-medium { @include font-medium; }
@mixin font-semibold   { font-weight: 600; } .font-semibold { @include font-semibold; }
@mixin font-bold       { font-weight: 700; } .font-bold { @include font-bold; }
@mixin font-extrabold  { font-weight: 800; } .font-extrabold { @include font-extrabold; }
@mixin font-black      { font-weight: 900; } .font-black { @include font-black; }