@mixin gap-0      { gap: 0; }                          .gap-0 { @include gap-0; }
@mixin gap-px     { gap: 1px; }                        .gap-px { @include gap-px; }
@mixin gap-0\.5   { gap: 0.125rem; /* 2px */ }         .gap-0\.5 { @include gap-0\.5; }
@mixin gap-1      { gap: 0.25rem; /* 4px */ }          .gap-1 { @include gap-1; }
@mixin gap-1\.5   { gap: 0.375rem; /* 6px */ }         .gap-1\.5 { @include gap-1\.5; }
@mixin gap-2      { gap: 0.5rem; /* 8px */ }           .gap-2 { @include gap-2; }
@mixin gap-2\.5   { gap: 0.625rem; /* 10px */ }        .gap-2\.5 { @include gap-2\.5; }
@mixin gap-3      { gap: 0.75rem; /* 12px */ }         .gap-3 { @include gap-3; }
@mixin gap-3\.5   { gap: 0.875rem; /* 14px */ }        .gap-3\.5 { @include gap-3\.5; }
@mixin gap-4      { gap: 1rem; /* 16px */ }            .gap-4 { @include gap-4; }
@mixin gap-5      { gap: 1.25rem; /* 20px */ }         .gap-5 { @include gap-5; }
@mixin gap-6      { gap: 1.5rem; /* 24px */ }          .gap-6 { @include gap-6; }
@mixin gap-7      { gap: 1.75rem; /* 28px */ }         .gap-7 { @include gap-7; }
@mixin gap-8      { gap: 2rem; /* 32px */ }            .gap-8 { @include gap-8; }
@mixin gap-9      { gap: 2.25rem; /* 36px */ }         .gap-9 { @include gap-9; }
@mixin gap-10     { gap: 2.5rem; /* 40px */ }          .gap-10 { @include gap-10; }
@mixin gap-11     { gap: 2.75rem; /* 44px */ }         .gap-11 { @include gap-11; }
@mixin gap-12     { gap: 3rem; /* 48px */ }            .gap-12 { @include gap-12; }
@mixin gap-14     { gap: 3.5rem; /* 56px */ }          .gap-14 { @include gap-14; }
@mixin gap-16     { gap: 4rem; /* 64px */ }            .gap-16 { @include gap-16; }
@mixin gap-20     { gap: 5rem; /* 80px */ }            .gap-20 { @include gap-20; }
@mixin gap-24     { gap: 6rem; /* 96px */ }            .gap-24 { @include gap-24; }
@mixin gap-28     { gap: 7rem; /* 112px */ }           .gap-28 { @include gap-28; }
@mixin gap-32     { gap: 8rem; /* 128px */ }           .gap-32 { @include gap-32; }
@mixin gap-36     { gap: 9rem; /* 144px */ }           .gap-36 { @include gap-36; }
@mixin gap-40     { gap: 10rem; /* 160px */ }          .gap-40 { @include gap-40; }
@mixin gap-44     { gap: 11rem; /* 176px */ }          .gap-44 { @include gap-44; }
@mixin gap-48     { gap: 12rem; /* 192px */ }          .gap-48 { @include gap-48; }
@mixin gap-52     { gap: 13rem; /* 208px */ }          .gap-52 { @include gap-52; }
@mixin gap-56     { gap: 14rem; /* 224px */ }          .gap-56 { @include gap-56; }
@mixin gap-60     { gap: 15rem; /* 240px */ }          .gap-60 { @include gap-60; }
@mixin gap-64     { gap: 16rem; /* 256px */ }          .gap-64 { @include gap-64; }
@mixin gap-72     { gap: 18rem; /* 288px */ }          .gap-72 { @include gap-72; }
@mixin gap-80     { gap: 20rem; /* 320px */ }          .gap-80 { @include gap-80; }
@mixin gap-96     { gap: 24rem; /* 384px */ }          .gap-96 { @include gap-96; }
@mixin gap-x-0    { column-gap: 0; }                   .gap-x-0 { @include gap-x-0; }
@mixin gap-x-px   { column-gap: 1px; }                 .gap-x-px { @include gap-x-px; }
@mixin gap-x-0\.5 { column-gap: 0.125rem; /* 2px */ }  .gap-x-0\.5 { @include gap-x-0\.5; }
@mixin gap-x-1    { column-gap: 0.25rem; /* 4px */ }   .gap-x-1 { @include gap-x-1; }
@mixin gap-x-1\.5 { column-gap: 0.375rem; /* 6px */ }  .gap-x-1\.5 { @include gap-x-1\.5; }
@mixin gap-x-2    { column-gap: 0.5rem; /* 8px */ }    .gap-x-2 { @include gap-x-2; }
@mixin gap-x-2\.5 { column-gap: 0.625rem; /* 10px */ } .gap-x-2\.5 { @include gap-x-2\.5; }
@mixin gap-x-3    { column-gap: 0.75rem; /* 12px */ }  .gap-x-3 { @include gap-x-3; }
@mixin gap-x-3\.5 { column-gap: 0.875rem; /* 14px */ } .gap-x-3\.5 { @include gap-x-3\.5; }
@mixin gap-x-4    { column-gap: 1rem; /* 16px */ }     .gap-x-4 { @include gap-x-4; }
@mixin gap-x-5    { column-gap: 1.25rem; /* 20px */ }  .gap-x-5 { @include gap-x-5; }
@mixin gap-x-6    { column-gap: 1.5rem; /* 24px */ }   .gap-x-6 { @include gap-x-6; }
@mixin gap-x-7    { column-gap: 1.75rem; /* 28px */ }  .gap-x-7 { @include gap-x-7; }
@mixin gap-x-8    { column-gap: 2rem; /* 32px */ }     .gap-x-8 { @include gap-x-8; }
@mixin gap-x-9    { column-gap: 2.25rem; /* 36px */ }  .gap-x-9 { @include gap-x-9; }
@mixin gap-x-10   { column-gap: 2.5rem; /* 40px */ }   .gap-x-10 { @include gap-x-10; }
@mixin gap-x-11   { column-gap: 2.75rem; /* 44px */ }  .gap-x-11 { @include gap-x-11; }
@mixin gap-x-12   { column-gap: 3rem; /* 48px */ }     .gap-x-12 { @include gap-x-12; }
@mixin gap-x-14   { column-gap: 3.5rem; /* 56px */ }   .gap-x-14 { @include gap-x-14; }
@mixin gap-x-16   { column-gap: 4rem; /* 64px */ }     .gap-x-16 { @include gap-x-16; }
@mixin gap-x-20   { column-gap: 5rem; /* 80px */ }     .gap-x-20 { @include gap-x-20; }
@mixin gap-x-24   { column-gap: 6rem; /* 96px */ }     .gap-x-24 { @include gap-x-24; }
@mixin gap-x-28   { column-gap: 7rem; /* 112px */ }    .gap-x-28 { @include gap-x-28; }
@mixin gap-x-32   { column-gap: 8rem; /* 128px */ }    .gap-x-32 { @include gap-x-32; }
@mixin gap-x-36   { column-gap: 9rem; /* 144px */ }    .gap-x-36 { @include gap-x-36; }
@mixin gap-x-40   { column-gap: 10rem; /* 160px */ }   .gap-x-40 { @include gap-x-40; }
@mixin gap-x-44   { column-gap: 11rem; /* 176px */ }   .gap-x-44 { @include gap-x-44; }
@mixin gap-x-48   { column-gap: 12rem; /* 192px */ }   .gap-x-48 { @include gap-x-48; }
@mixin gap-x-52   { column-gap: 13rem; /* 208px */ }   .gap-x-52 { @include gap-x-52; }
@mixin gap-x-56   { column-gap: 14rem; /* 224px */ }   .gap-x-56 { @include gap-x-56; }
@mixin gap-x-60   { column-gap: 15rem; /* 240px */ }   .gap-x-60 { @include gap-x-60; }
@mixin gap-x-64   { column-gap: 16rem; /* 256px */ }   .gap-x-64 { @include gap-x-64; }
@mixin gap-x-72   { column-gap: 18rem; /* 288px */ }   .gap-x-72 { @include gap-x-72; }
@mixin gap-x-80   { column-gap: 20rem; /* 320px */ }   .gap-x-80 { @include gap-x-80; }
@mixin gap-x-96   { column-gap: 24rem; /* 384px */ }   .gap-x-96 { @include gap-x-96; }
@mixin gap-y-0    { row-gap: 0; }                      .gap-y-0 { @include gap-y-0; }
@mixin gap-y-px   { row-gap: 1px; }                    .gap-y-px { @include gap-y-px; }
@mixin gap-y-0\.5 { row-gap: 0.125rem; /* 2px */ }     .gap-y-0\.5 { @include gap-y-0\.5; }
@mixin gap-y-1    { row-gap: 0.25rem; /* 4px */ }      .gap-y-1 { @include gap-y-1; }
@mixin gap-y-1\.5 { row-gap: 0.375rem; /* 6px */ }     .gap-y-1\.5 { @include gap-y-1\.5; }
@mixin gap-y-2    { row-gap: 0.5rem; /* 8px */ }       .gap-y-2 { @include gap-y-2; }
@mixin gap-y-2\.5 { row-gap: 0.625rem; /* 10px */ }    .gap-y-2\.5 { @include gap-y-2\.5; }
@mixin gap-y-3    { row-gap: 0.75rem; /* 12px */ }     .gap-y-3 { @include gap-y-3; }
@mixin gap-y-3\.5 { row-gap: 0.875rem; /* 14px */ }    .gap-y-3\.5 { @include gap-y-3\.5; }
@mixin gap-y-4    { row-gap: 1rem; /* 16px */ }        .gap-y-4 { @include gap-y-4; }
@mixin gap-y-5    { row-gap: 1.25rem; /* 20px */ }     .gap-y-5 { @include gap-y-5; }
@mixin gap-y-6    { row-gap: 1.5rem; /* 24px */ }      .gap-y-6 { @include gap-y-6; }
@mixin gap-y-7    { row-gap: 1.75rem; /* 28px */ }     .gap-y-7 { @include gap-y-7; }
@mixin gap-y-8    { row-gap: 2rem; /* 32px */ }        .gap-y-8 { @include gap-y-8; }
@mixin gap-y-9    { row-gap: 2.25rem; /* 36px */ }     .gap-y-9 { @include gap-y-9; }
@mixin gap-y-10   { row-gap: 2.5rem; /* 40px */ }      .gap-y-10 { @include gap-y-10; }
@mixin gap-y-11   { row-gap: 2.75rem; /* 44px */ }     .gap-y-11 { @include gap-y-11; }
@mixin gap-y-12   { row-gap: 3rem; /* 48px */ }        .gap-y-12 { @include gap-y-12; }
@mixin gap-y-14   { row-gap: 3.5rem; /* 56px */ }      .gap-y-14 { @include gap-y-14; }
@mixin gap-y-16   { row-gap: 4rem; /* 64px */ }        .gap-y-16 { @include gap-y-16; }
@mixin gap-y-20   { row-gap: 5rem; /* 80px */ }        .gap-y-20 { @include gap-y-20; }
@mixin gap-y-24   { row-gap: 6rem; /* 96px */ }        .gap-y-24 { @include gap-y-24; }
@mixin gap-y-28   { row-gap: 7rem; /* 112px */ }       .gap-y-28 { @include gap-y-28; }
@mixin gap-y-32   { row-gap: 8rem; /* 128px */ }       .gap-y-32 { @include gap-y-32; }
@mixin gap-y-36   { row-gap: 9rem; /* 144px */ }       .gap-y-36 { @include gap-y-36; }
@mixin gap-y-40   { row-gap: 10rem; /* 160px */ }      .gap-y-40 { @include gap-y-40; }
@mixin gap-y-44   { row-gap: 11rem; /* 176px */ }      .gap-y-44 { @include gap-y-44; }
@mixin gap-y-48   { row-gap: 12rem; /* 192px */ }      .gap-y-48 { @include gap-y-48; }
@mixin gap-y-52   { row-gap: 13rem; /* 208px */ }      .gap-y-52 { @include gap-y-52; }
@mixin gap-y-56   { row-gap: 14rem; /* 224px */ }      .gap-y-56 { @include gap-y-56; }
@mixin gap-y-60   { row-gap: 15rem; /* 240px */ }      .gap-y-60 { @include gap-y-60; }
@mixin gap-y-64   { row-gap: 16rem; /* 256px */ }      .gap-y-64 { @include gap-y-64; }
@mixin gap-y-72   { row-gap: 18rem; /* 288px */ }      .gap-y-72 { @include gap-y-72; }
@mixin gap-y-80   { row-gap: 20rem; /* 320px */ }      .gap-y-80 { @include gap-y-80; }
@mixin gap-y-96   { row-gap: 24rem; /* 384px */ }      .gap-y-96 { @include gap-y-96; }