@mixin min-h-0      { min-height: 0; }                   .min-h-0 { @include min-h-0; }
@mixin min-h-px     { min-height: 1px; }                 .min-h-px { @include min-h-px; }
@mixin min-h-full   { min-height: 100%; }                .min-h-full { @include min-h-full; }
@mixin min-h-screen { min-height: 100vh; }               .min-h-screen { @include min-h-screen; }
@mixin min-h-svh    { min-height: 100svh; }              .min-h-svh { @include min-h-svh; }
@mixin min-h-lvh    { min-height: 100lvh; }              .min-h-lvh { @include min-h-lvh; }
@mixin min-h-dvh    { min-height: 100dvh; }              .min-h-dvh { @include min-h-dvh; }
@mixin min-h-min    { min-height: min-content; }         .min-h-min { @include min-h-min; }
@mixin min-h-max    { min-height: max-content; }         .min-h-max { @include min-h-max; }
@mixin min-h-fit    { min-height: fit-content; }         .min-h-fit { @include min-h-fit; }
@mixin min-h-0\.5   { min-height: 0.125rem; /* 2px */ }  .min-h-0\.5 { @include min-h-0\.5; }
@mixin min-h-1      { min-height: 0.25rem; /* 4px */ }   .min-h-1 { @include min-h-1; }
@mixin min-h-1\.5   { min-height: 0.375rem; /* 6px */ }  .min-h-1\.5 { @include min-h-1\.5; }
@mixin min-h-2      { min-height: 0.5rem; /* 8px */ }    .min-h-2 { @include min-h-2; }
@mixin min-h-2\.5   { min-height: 0.625rem; /* 10px */ } .min-h-2\.5 { @include min-h-2\.5; }
@mixin min-h-3      { min-height: 0.75rem; /* 12px */ }  .min-h-3 { @include min-h-3; }
@mixin min-h-3\.5   { min-height: 0.875rem; /* 14px */ } .min-h-3\.5 { @include min-h-3\.5; }
@mixin min-h-4      { min-height: 1rem; /* 16px */ }     .min-h-4 { @include min-h-4; }
@mixin min-h-5      { min-height: 1.25rem; /* 20px */ }  .min-h-5 { @include min-h-5; }
@mixin min-h-6      { min-height: 1.5rem; /* 24px */ }   .min-h-6 { @include min-h-6; }
@mixin min-h-7      { min-height: 1.75rem; /* 28px */ }  .min-h-7 { @include min-h-7; }
@mixin min-h-8      { min-height: 2rem; /* 32px */ }     .min-h-8 { @include min-h-8; }
@mixin min-h-9      { min-height: 2.25rem; /* 36px */ }  .min-h-9 { @include min-h-9; }
@mixin min-h-10     { min-height: 2.5rem; /* 40px */ }   .min-h-10 { @include min-h-10; }
@mixin min-h-11     { min-height: 2.75rem; /* 44px */ }  .min-h-11 { @include min-h-11; }
@mixin min-h-12     { min-height: 3rem; /* 48px */ }     .min-h-12 { @include min-h-12; }
@mixin min-h-14     { min-height: 3.5rem; /* 56px */ }   .min-h-14 { @include min-h-14; }
@mixin min-h-16     { min-height: 4rem; /* 64px */ }     .min-h-16 { @include min-h-16; }
@mixin min-h-20     { min-height: 5rem; /* 80px */ }     .min-h-20 { @include min-h-20; }
@mixin min-h-24     { min-height: 6rem; /* 96px */ }     .min-h-24 { @include min-h-24; }
@mixin min-h-28     { min-height: 7rem; /* 112px */ }    .min-h-28 { @include min-h-28; }
@mixin min-h-32     { min-height: 8rem; /* 128px */ }    .min-h-32 { @include min-h-32; }
@mixin min-h-36     { min-height: 9rem; /* 144px */ }    .min-h-36 { @include min-h-36; }
@mixin min-h-40     { min-height: 10rem; /* 160px */ }   .min-h-40 { @include min-h-40; }
@mixin min-h-44     { min-height: 11rem; /* 176px */ }   .min-h-44 { @include min-h-44; }
@mixin min-h-48     { min-height: 12rem; /* 192px */ }   .min-h-48 { @include min-h-48; }
@mixin min-h-52     { min-height: 13rem; /* 208px */ }   .min-h-52 { @include min-h-52; }
@mixin min-h-56     { min-height: 14rem; /* 224px */ }   .min-h-56 { @include min-h-56; }
@mixin min-h-60     { min-height: 15rem; /* 240px */ }   .min-h-60 { @include min-h-60; }
@mixin min-h-64     { min-height: 16rem; /* 256px */ }   .min-h-64 { @include min-h-64; }
@mixin min-h-72     { min-height: 18rem; /* 288px */ }   .min-h-72 { @include min-h-72; }
@mixin min-h-80     { min-height: 20rem; /* 320px */ }   .min-h-80 { @include min-h-80; }
@mixin min-h-96     { min-height: 24rem; /* 384px */ }   .min-h-96 { @include min-h-96; }