@mixin mix-blend-normal       { mix-blend-mode: normal; }       .mix-blend-normal { @include mix-blend-normal; }
@mixin mix-blend-multiply     { mix-blend-mode: multiply; }     .mix-blend-multiply { @include mix-blend-multiply; }
@mixin mix-blend-screen       { mix-blend-mode: screen; }       .mix-blend-screen { @include mix-blend-screen; }
@mixin mix-blend-overlay      { mix-blend-mode: overlay; }      .mix-blend-overlay { @include mix-blend-overlay; }
@mixin mix-blend-darken       { mix-blend-mode: darken; }       .mix-blend-darken { @include mix-blend-darken; }
@mixin mix-blend-lighten      { mix-blend-mode: lighten; }      .mix-blend-lighten { @include mix-blend-lighten; }
@mixin mix-blend-color-dodge  { mix-blend-mode: color-dodge; }  .mix-blend-color-dodge { @include mix-blend-color-dodge; }
@mixin mix-blend-color-burn   { mix-blend-mode: color-burn; }   .mix-blend-color-burn { @include mix-blend-color-burn; }
@mixin mix-blend-hard-light   { mix-blend-mode: hard-light; }   .mix-blend-hard-light { @include mix-blend-hard-light; }
@mixin mix-blend-soft-light   { mix-blend-mode: soft-light; }   .mix-blend-soft-light { @include mix-blend-soft-light; }
@mixin mix-blend-difference   { mix-blend-mode: difference; }   .mix-blend-difference { @include mix-blend-difference; }
@mixin mix-blend-exclusion    { mix-blend-mode: exclusion; }    .mix-blend-exclusion { @include mix-blend-exclusion; }
@mixin mix-blend-hue          { mix-blend-mode: hue; }          .mix-blend-hue { @include mix-blend-hue; }
@mixin mix-blend-saturation   { mix-blend-mode: saturation; }   .mix-blend-saturation { @include mix-blend-saturation; }
@mixin mix-blend-color        { mix-blend-mode: color; }        .mix-blend-color { @include mix-blend-color; }
@mixin mix-blend-luminosity   { mix-blend-mode: luminosity; }   .mix-blend-luminosity { @include mix-blend-luminosity; }
@mixin mix-blend-plus-darker  { mix-blend-mode: plus-darker; }  .mix-blend-plus-darker { @include mix-blend-plus-darker; }
@mixin mix-blend-plus-lighter { mix-blend-mode: plus-lighter; } .mix-blend-plus-lighter { @include mix-blend-plus-lighter; }