@mixin order-1     { order: 1; }     .order-1 { @include order-1; }
@mixin order-2     { order: 2; }     .order-2 { @include order-2; }
@mixin order-3     { order: 3; }     .order-3 { @include order-3; }
@mixin order-4     { order: 4; }     .order-4 { @include order-4; }
@mixin order-5     { order: 5; }     .order-5 { @include order-5; }
@mixin order-6     { order: 6; }     .order-6 { @include order-6; }
@mixin order-7     { order: 7; }     .order-7 { @include order-7; }
@mixin order-8     { order: 8; }     .order-8 { @include order-8; }
@mixin order-9     { order: 9; }     .order-9 { @include order-9; }
@mixin order-10    { order: 10; }    .order-10 { @include order-10; }
@mixin order-11    { order: 11; }    .order-11 { @include order-11; }
@mixin order-12    { order: 12; }    .order-12 { @include order-12; }
@mixin -order-1    { order: -1; }    .-order-1 { @include -order-1; }
@mixin -order-2    { order: -2; }    .-order-2 { @include -order-2; }
@mixin -order-3    { order: -3; }    .-order-3 { @include -order-3; }
@mixin -order-4    { order: -4; }    .-order-4 { @include -order-4; }
@mixin -order-5    { order: -5; }    .-order-5 { @include -order-5; }
@mixin -order-6    { order: -6; }    .-order-6 { @include -order-6; }
@mixin -order-7    { order: -7; }    .-order-7 { @include -order-7; }
@mixin -order-8    { order: -8; }    .-order-8 { @include -order-8; }
@mixin -order-9    { order: -9; }    .-order-9 { @include -order-9; }
@mixin -order-10   { order: -10; }   .-order-10 { @include -order-10; }
@mixin -order-11   { order: -11; }   .-order-11 { @include -order-11; }
@mixin -order-12   { order: -12; }   .-order-12 { @include -order-12; }
@mixin order-first { order: -9999; } .order-first { @include order-first; }
@mixin order-last  { order: 9999; }  .order-last { @include order-last; }
@mixin order-none  { order: 0; }     .order-none { @include order-none; }