@mixin place-content-center   { place-content: center; }        .place-content-center { @include place-content-center; }
@mixin place-content-start    { place-content: start; }         .place-content-start { @include place-content-start; }
@mixin place-content-end      { place-content: end; }           .place-content-end { @include place-content-end; }
@mixin place-content-between  { place-content: space-between; } .place-content-between { @include place-content-between; }
@mixin place-content-around   { place-content: space-around; }  .place-content-around { @include place-content-around; }
@mixin place-content-evenly   { place-content: space-evenly; }  .place-content-evenly { @include place-content-evenly; }
@mixin place-content-baseline { place-content: baseline; }      .place-content-baseline { @include place-content-baseline; }
@mixin place-content-stretch  { place-content: stretch; }       .place-content-stretch { @include place-content-stretch; }
@mixin place-items-start      { place-items: start; }           .place-items-start { @include place-items-start; }
@mixin place-items-end        { place-items: end; }             .place-items-end { @include place-items-end; }
@mixin place-items-center     { place-items: center; }          .place-items-center { @include place-items-center; }
@mixin place-items-baseline   { place-items: baseline; }        .place-items-baseline { @include place-items-baseline; }
@mixin place-items-stretch    { place-items: stretch; }         .place-items-stretch { @include place-items-stretch; }
@mixin place-self-auto        { place-self: auto; }             .place-self-auto { @include place-self-auto; }
@mixin place-self-start       { place-self: start; }            .place-self-start { @include place-self-start; }
@mixin place-self-end         { place-self: end; }              .place-self-end { @include place-self-end; }
@mixin place-self-center      { place-self: center; }           .place-self-center { @include place-self-center; }
@mixin place-self-stretch     { place-self: stretch; }          .place-self-stretch { @include place-self-stretch; }