@mixin visible   { visibility: visible; }  .visible { @include visible; }
@mixin invisible { visibility: hidden; }   .invisible { @include invisible; }
@mixin collapse  { visibility: collapse; } .collapse { @include collapse; }